LANGFUSE_HOST=https://
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_SECRET_KEY=sk-lf-...
LLM_TOKEN=sk-...

# Feature flags
# False = выключено
# True = включено

STEP_1=False

STEP_3=False

STEP_4=False

STEP_5_1=False

STEP_5_2=False